<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="mqttServer" value="39.97.249.180" />
    <add key="mqttPort" value="1883" />
    <add key="mqttSsl" value="0" />
    <add key="username" value="phoenix" />
    <add key="password" value="21FqP2^Kp3VDtyw5" />
    <add key="mac" value="0e-15-09-82-01-95" />
    <add key="clientId" value="[mac]-download" />
    <add key="topic" value="clients/[mac]/downloads" />
    <add key="player_exe" value="D:\phoenix-player\phoenix-player-v4.exe" />
    <add key="data_path" value="D:\player-data" />
    <add key="player_path" value="D:\phoenix-player" />
    <add key="debug" value="0" />
    <add key="playlistalias" value="play-list.lay.phx|play-list.json.phx|packet-screen.json.phx" />
    <add key="kill_process" value="test1|OneDrive" />
    <add key="version" value="v2.6" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>